<a href="https://colab.research.google.com/github/mahdiyar95/python_fundamentals/blob/main/enumerate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
values1=['Audi','BMW','Mercedes','Porsche']
values2=['Ford','Chevi','Lincoln','Tesla']
values3=['Toyota','Nissan','Mazda','Mitsubishi']

for cntr, value1 in enumerate(values1, start=1):
  print(cntr, value1)

print('----------------------------------------')

for cntr, value2 in enumerate(values2, start=5):
  print(cntr, value2)

print('----------------------------------------')

for cntr, value2 in enumerate(values2, start=9):
  print(cntr, value2)

print('----------------------------------------')

for cntr, (value1,value2,value3) in enumerate(zip(values1,values2,values3), start=1):
  print((cntr, value1, value2, value3)

1 Audi
2 BMW
3 Mercedes
4 Porsche
----------------------------------------
5 Ford
6 Chevi
7 Lincoln
8 Tesla
----------------------------------------
9 Ford
10 Chevi
11 Lincoln
12 Tesla
----------------------------------------
1 Audi Ford Toyota
2 BMW Chevi Nissan
3 Mercedes Lincoln Mazda
4 Porsche Tesla Mitsubishi